---
images_per_row: 3
rows_per_page: 3
---

= partial "header"

.background-wrapper
  .container
    .row  
      .span12
        #carousel.slide
          .carousel-inner
            = partial "image_display"
          %a.carousel-control.left{href: "#carousel", data: {slide: "prev"}}
            &lsaquo;
          %a.carousel-control.right{href: "#carousel", data: {slide: "next"}}
            &rsaquo;
.container.links
  .row  
    .span6 
      .pull-left
        = link_to image_tag("home-ehib.link.jpg"), "exhibition.html"
    .span6
      .pull-right
        %a{href: "mailto:brianvalenzuela@brianvalenzuela.com"}
          = image_tag 'home-contactlink.jpg'
.container
  .row
    .row.text-center
      = link_to image_tag('TYOMBF-statement-link.jpg'), 'statement.html'
              
= partial "footer"