---

---
= partial "header"
.container.text-center.home_title
  .row  
    .span12 
      = image_tag "TYOMBF-statement-image.jpg", width: "75%"
      
.container.links
  .row  
    .span6.offset1 
      .pull-left
        = link_to image_tag("home-archivelink.jpg"), "archive.html"
    .span3.offset1
      .pull-right
        = link_to image_tag("home-ehib.link.jpg"), "exhibition.html"
.container
  .row
    .row.text-center.contact
      %a{href: "mailto:bval@brianvalenzuela.com"}
        = image_tag 'home-contactlink.jpg'

= partial "footer"
